/* =====
   BASE.CSS
   Global Styles & Variables
===== */

/* ============
   CSS VARIABLES
============ */

:root{

    --primary:#2563EB;
    --primary-dark:#1D4ED8;

    --secondary:#F59E0B;
    --secondary-dark:#D97706;

    --dark:#111827;
    --text:#374151;
    --text-light:#6B7280;

    --light:#F9FAFB;
    --white:#FFFFFF;

    --border:#E5E7EB;

    --navbar-bg: rgba(15,23,42,.95);
    --nav-link-color: var(--secondary);
    --nav-link-hover: #2563EB;

    --shadow-sm:0 2px 8px rgba(0,0,0,.05);
    --shadow-md:0 10px 30px rgba(0,0,0,.10);
    --shadow-lg:0 18px 45px rgba(0,0,0,.15);

    --radius-sm:8px;
    --radius-md:12px;
    --radius-lg:18px;

    --transition:0.3s ease;

    --hero-greeting:#2563EB;
    --hero-name:#111827;
    --hero-role:#2563EB;
    --hero-description:#4B5563;

    --hero-badge-bg:#EFF6FF;
    --hero-badge-border:#BFDBFE;

    --skills-title:#111827;

    --skills-text:#374151;

    --skills-card:#FFFFFF;

    --skills-card-border:#E5E7EB;

    --skills-bar-bg:#E5E7EB;

    --skills-bar-fill:#2563EB;


    --tech-bg:#F8FAFC;
    --tech-border:#E5E7EB;
    --tech-text:#374151;

    --btn-primary-bg:#111827;
    --btn-primary-text:#FFFFFF;

    --btn-secondary-bg:#2563EB;
    --btn-secondary-text:#FFFFFF;

    --social-bg:#FFFFFF;
    --social-color:#2563EB;
    --max-width:1200px;
    --section-spacing:90px;

}

/* ============
   RESET
============ */

*
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* ============
   GLOBAL
============ */

html{
    scroll-behavior:smooth;
    scroll-padding-top: 90px;
}

body{

    font-family:"Poppins",sans-serif;

    background:var(--white);

    color:var(--text);

    line-height:1.7;

    overflow-x:hidden;

    min-height: 100vh;

    text-rendering: optimizeLegibility;

    -webkit-font-smoothing:antialiased;
}

/* ============
   CONTAINER
============ */

.container{

    width:min(90%,var(--max-width));

    margin-inline:auto;
}

/* ============
   IMAGES
============ */

img{

    max-width:100%;

    height: auto;

    display:block;
}

/* ============
   LINKS
============ */

a{

    text-decoration:none;

    color:inherit;

    display: inline-block;

    transition:var(--transition);
}

/* ============
   LISTS
============ */

ul{

    list-style:none;
}

/* ============
   HEADINGS
============ */

h1,
h2,
h3,
h4,
h5,
h6{

    color:var(--dark);

    line-height:1.2;

    font-weight:700;
}

p{

    color:var(--text-light);

    font-size: 1rem;
}

/* ============
   BUTTONS
============ */

button{

    font-family:inherit;

    cursor:pointer;

    border:none;

    transition: var(--transition);
}

/* ============
   SECTION
============ */

section{

    padding:var(--section-spacing)0;
}

/* ============
   SELECTION
============ */

::selection{

    background:var(--primary);

    color:var(--white);
}

input,
textarea,
select{
    font: inherit;
}

button:focus-visible,
a:focus-visible,
input:focus-visible,
textarea:focus-visible{
    outline: 3px solid var(--primary);
    outline-offset: 4px;

}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background: var(--primary);
    border-radius: 20px;
}

::-webkit-scrollbar-track{
    background: var(--light);
}

body.light-mode{
    --navbar-bg: rgba(255,255,255,.95);
}

body.dark-mode{

    --hero-greeting:#f1f50f;

    --hero-name:#F8FAFC;

    --hero-role:#60A5FA;

    --hero-description:#CBD5E1;

    --hero-badge-bg:#a2b9de;

    --hero-badge-border:#334155;

    --tech-bg:#1E293B;

    --tech-border:#334155;

    --tech-text:#E2E8F0;

    --btn-primary-bg:   #f4fbee;

    --btn-primary-text:#252020;

    --btn-secondary-bg:#FBBF24;

    --btn-secondary-text:#111827;

    --social-bg:#b5d0fb;

    --social-color:#130d02;


    --skills-title:#F8FAFC;

    --skills-text:#E2E8F0;

    --skills-card:#1E293B;

    --skills-card-border:#334155;

    --skills-bar-bg:#334155;

    --skills-bar-fill:#60A5FA;


    --dark:#F8FAFC;

    --text:#CBD5E1;

    --text-light:#94A3B8;

    --white:#0F172A;

    --light:#1E293B;

    --border:#334155;

}

body.dark-mode .stat-card{

    background:var(--light);

    border-color:var(--border);

}

html{
    scroll-behavior:smooth;
}